<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!--  load properties file from classpath -->
    <context:property-placeholder location="classpath:sports.properties"/>
    
    <bean id="myFortuneService" 
    		class="dev.tutorial.springdemo.HappyFortuneService">
    </bean>
    <bean id="randomFortune" 
    		class="dev.tutorial.springdemo.RandomFortuneService"/>
    
    <bean id="myCoach"
    		class="dev.tutorial.springdemo.BaseballCoach">
    		<constructor-arg ref= "randomFortune"/>
    </bean>
    
    <bean id="myOtherCoach"
    		class="dev.tutorial.springdemo.CricketCoach">
    	<property name="fortuneService" ref="myFortuneService" />
    	<property name="emailAddress" value="${sport.emailid}"/>
    	<property name="team" value="${sport.team}"/>
    </bean>
   
   
</beans>